<div class="container">
    <div class="row">
        
        <div class="col-md-6 info">
            
            <div class="info-center animate__animated animate__backInDown">
                <div class="d-grid-gap-2 col-12 pt-5">
                    <h1 class="fw-bold">Reclama tu primer enlace</h1>
                    <p class="pt-3 fs-4">Hay muy buenos enlaces únicos</p>
                </div>
                <div class="d-grid-gap-2 col-12 pt-5">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">kiibo.mx/</span>
                        <input type="text" class="border border-start-0 form-control" 
                        placeholder="Tu nombre..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    </div>
                </div>
    
                <div class="d-grid gap-2 col-12 mt-1">
                    <span class="text-danger fw-bold visually-hidden">Parece que este nombre de ya está en uso...</span>
                    <span class="text-danger fw-bold visually-hidden">Prueba algo similar</span>
                </div>
    
                <div class="d-grid gap-2 col-12 mt-4">
                    <button class="btn btn-primary" type="button">
                        Toma mi enclace
                    </button>
                </div>
                <div class="d-grid gap-2 col-4 mt-5">
                    
                </div>

                <div class="d-grid gap-2 col-4"> o
                    <button class="btn btn-ligth border fixed fw-bold" type="button"
                    [routerLink]="['/login']">
                        Iniciar sesión
                    </button>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-6 vh-100 align-self-center">
                        
        </div>

    </div>
</div>
