<div class="container">
    <div class="row">
        
        <div class="col-md-6 info">
            
            <div class="info-center animate__animated animate__backInDown">
                <div class="d-grid-gap-2 col-12 pt-5">
                    <h1 class="fw-bold">
                        <button class="btn btn-outline-light border  border-0 p-3 fw-bold" type="button"
                        [routerLink]="['/registro']">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </h1>
                    <p class="pt-3 fs-4">¡Bueno tenerte de vuelta!</p>
                </div>
                <div class="d-grid-gap-2 col-12 pt-5">
                    <form class="row g-3">
                        <div class="col-auto">
                            <label for="inputPassword2" class="visually-hidden">Password</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                        </div>
                        <div class="col-auto">
                          <label for="inputPassword2" class="visually-hidden">Password</label>
                          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                        </div>
                        <div class="col-auto esay">
                          <button type="button" class="btn btn-primary">
                            Show
                          </button>
                        </div>
                    </form>
                </div>
    
                <div class="d-grid gap-2 col-12 mt-0">
                    <a [routerLink]="['/reset']">Recuperar contraseña</a>
                </div>
    
                <div class="d-grid gap-2 col-12 mt-4">
                    <button class="btn btn-primary pt-2" type="button">
                        <i class="bi bi-google text-white"></i>
                        Iniciar con Google
                    </button>
                    <button class="btn btn-dark pt-2 visually-hidden" type="button">
                        Iniciar sesión
                    </button>
                </div>

                <div class="d-grid gap-2 col-4"> o
                    <button class="btn btn-ligth border fixed fw-bold pt-2" type="button"
                    [routerLink]="['/registro']">
                        Regstrarte
                    </button>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-6 vh-100 align-self-center">
                        
        </div>

    </div>
</div>

