<div class="container">
    <div class="row">

        <div class="col-md-6 vh-100 info">

            <div class="info-center animate__animated animate__bounceInLeft">
                <div class="d-grid-gap-2 col-12 pt-5">
                    <h1 class="fw-bold">
                        <button class="btn btn-outline-light border  border-0 p-3 fw-bold" type="button"
                            [routerLink]="['/registro']">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        Agrega tus redes
                    </h1>
                </div>
                <div class="d-grid-gap-2 col-12 pt-5">

                    <div class="mb-3 row">
                        <label for="twitterInput" class="col-sm-2 col-form-label">
                            <i class="bi bi-twitter text-info" ></i>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="twitterInput">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="instagramInput" class="col-sm-2 col-form-label">
                            <i class="bi bi-instagram text-red"></i>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="instagramInput">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="linkedinInput" class="col-sm-2 col-form-label">
                            <i class="bi bi-linkedin text-primary"></i>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="linkedinInput">
                        </div>
                    </div>

                </div>

                <div class="d-grid gap-2 col-auto mt-4">
                    <button class="btn btn-dark pt-2 col-auto" type="button">
                        Siguiente
                    </button>
                    <button class="btn btn-light pt-2 border border-0" type="button" [routerLink]="['']">
                        Saltar
                    </button>
                </div>
            </div>

        </div>

        <div class="col-md-6 vh-100">
            <div class="info-center animate__animated animate__backInDown">

                <div class="d-grid-gap-2 col-12 p-5">
                    <h3 class="fw-bold">
                        Redes sociales
                    </h3>
                </div>

                <div class="d-grid-gap-2 col-12 pt-5">

                </div>
            </div>
        </div>
    </div>
</div>