<div class="container">
    <div class="row">

        <div class="col-md-6 info">

            <div class="info-center animate__animated animate__zoomInDown">
                <div class="row">
                    <div class="d-grid-gap-2 col-12 pt-5">
                        <h1 class="fw-bold">
                            <button class="btn btn-outline-light border  border-0 p-3 fw-bold" type="button"
                            [routerLink]="['/login']">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                            Restablecer su contraseña
                        </h1>
                        <p class="pt-3 fs-4">¿A qué correo electrónico debemos enviar el enlace de
                            restablecimiento?</p>
                    </div>
                    <div class="d-grid-gap-2 col-12 pt-5">
                        <form class="row g-3">
                            <input type="email" class="form-control p-3" id="inputPassword2"
                                placeholder="Dirección de correo electrónico">

                                <button class="btn btn-dark p-3 fw-bold" type="button">
                                    Enviar correo
                                </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 vh-100 align-self-center">

        </div>

    </div>
</div>